
@{
    ViewBag.Title = "Index";
}

<h2>Novel Data</h2>

@using System.Data
@model DataTable


<table cellpadding="5" cellspacing="5" border="1">
    <tr style="background-color:aliceblue">

        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
    </tr>

    @foreach (DataRow dr in Model.Rows)
    {

        <tr>
            <td>@dr["Title"]</td>
            <td>@dr["Author"]</td>
            <td>@dr["Price"]</td>


        </tr>


    }



</table>

